@import url(https://font.googleapis.com/css?family=inter:100,200,300,regular,500,600,700,800,900);

::-webkit-scrollbar{
    width: 0;
}
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: poppins, sans-serif;
}
body{
    min-height: 100vh;
    color: #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.wrapper{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 30px 0;
    display: flex;
    /* transition: all 0.3s; */
  
 
}
.screen-backdrop{
    width: 135%;
    height: 25rem;
    background-color: rgb(39, 241, 53);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 50% 50%;
     z-index: -1;
     transition: all  0.3s;

}
.menu-btn{   
    width: 2rem;
    cursor: pointer;
    color: #2e2e2e;
    /* transition: all 0.3s; */
}
.head-wrapper{
    padding: 0 30px;
}
.wrapper .screen{
    min-width: 100%;
    flex: 1;
    /* display: flex; */


}
.wrapper.show-category .screen-home{
    transform: translateX(-100%);
    /* transition: all 0.3s; */
    /* transform: rotate(180deg); */
}
.wrapper.show-category .category-screen{
    transform: translateX(-100%);
}

.welcome{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #ffffff;
}
.welcome h1{
    font-size: 1.5rem;
    padding-bottom: 0.8rem;
}
.welcome p{
    font-weight: 500;
}
.welcome .img{
    position: relative ;
}
.welcome .img .backdrop{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3.8rem;
    height: 4rem;
    border-radius: 50%;   
    background-color: #e5e7fd;  
    z-index: -1;
}
.welcome .img img {
    width: 5rem;
}
.categories-wrapper{
    margin-top: 1rem;
    padding: 0 30px;
    height: calc(100% - 8rem);
    padding-bottom: 20px;
    overflow: auto;
}
.categories{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.category:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px 5px #00000040;
}
.category .toggle-btn {
    width: 2rem;
    cursor: pointer;
    opacity: 0.6;
}
.categories .category{
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 20px 5px #000000;
    transition: all 0.3s;
}
.categories .category:hover{
    transform: translateX(-10px);
    box-shadow: 0 10px 20px 5px #00000000;
}
.category .left{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.category .left img{
    width: 3rem;

}
.category .content h1{
    font-size: 1.5rem;
}
.category .content p{
    color: #2e2e2e;
    font-size: 0.8rem;
    opacity: 0.6;
}
.category .options{
    opacity: 0 ;
    visibility: hidden;
    transition: all 0.3s;
}
.category .toggle-btn:hover {
    opacity: 3;
}
.wrapper.show-category .screen-backdrop {
    transform: translate(-50%, -60%)

}
.category-screen .head-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.category-screen .head-wrapper svg{
    width: 2rem;
    cursor: pointer;
    color: #2e2e2e;
}
.category-details{
    padding: 0 30px;
    margin-top: 7rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.category-details img{
    width: 4rem;
}
.category-details .details{
    opacity: 0.6;
}
.tasks-wrapper{
    padding: 0 30px;
    margin-top: 1rem;
    height: calc(100% - 12rem);
    padding-bottom: 20px;
    overflow: auto;
}
.task-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    width: max-content;
    cursor: pointer;
}
.task input{
    display: none;
}
.task .checkmark{
    width: 1rem;
    height: 1rem;
    border-radius: 2px;
    border: 1px solid #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task-wrapper .delete {
    min-width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    color: #2e2e2e;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.031);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.task .checkmark svg{
    width: 1rem;
    color: #2e2e2e;
    opacity: 0;
    transition: all 0.3s;
}
.task .checkmark svg path{
    stroke-width: 4;
}
.task:hover .checkmark svg {
    opacity: 1;
}

.task .checkmark svg path {
    stroke-width: 3;
}

.task input:checked~.checkmark {
    background-color: #2e2e2e;
}
.task input:checked~p {
    text-decoration: line-through;
    opacity: 0.6;
}
.task input:checked~.checkmark svg {
    opacity: 1;
    color: #fff;
}

.task-wrapper:hover .delete {
    opacity: 1;
    visibility: visible;
}
.task-wrapper .delete:hover {
    color: red;
    background-color: rgba(0, 0, 0, 0.1);
}
.no-tasks {
    margin-top: 5rem;
    text-align: center;
    font-size: 1.5rem;
    opacity: 0.6;
}
.add-task-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 241, 53);
    transition: all 0.3s;
}
.add-task-btn.active{
    z-index: 1;
    bottom: 26rem;
    transform: rotate(45deg);

}

.add-task-btn:hover{
    transform: scale(1.02);
}
.add-task-btn svg{
    width: 1.5rem;
    color: #fff;
}
.add-task {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    padding: 25px 30px;
    transition: all 0.3s;
}
.add-task.active{
    bottom: 0;

}
.add-task .heading{
    margin-bottom: 4.5rem;
    font-size: 1.3rem;
    font-weight: 900    ;
    z-index: 0;
}
.input-group{

    position: relative;
    margin-bottom: 20px;
}
.input-group input,
.input-group label{
    width: 100%;
   display: block;
}
.input-group input{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
.input-group label{
    width: max-content;
    padding: 0 5px;
    margin-top: 5px;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}
select{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
.btns{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}

.btns button{
    z-index: 2;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}
.btns button.add-btn{
    background-color: rgb(39, 241, 53);
    color: #2e2e2e;
    border: 1px solid #2e2e2e;
    overflow: hidden;
}
.add-task-backdrop{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 135%;
    height: 28rem;
    border-radius: 50% 50% 0 0;
    background-color: #fff;
}
.black-backdrop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: #00000023;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.black-backdrop.active{
    opacity: 1;
    visibility: visible;
}
@media (min-width: 760px){
    .wrapper{
        height: 47rem;
        width: 25rem;
        border-radius: 40px;
        border: 10px solid #2e2e2e;
    }
}
